* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Helvetica-W02-Roman";
    src: url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/e4bd4516-4480-43df-aa6e-4e9b9029f53e.eot?#iefix");
    src: url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/e4bd4516-4480-43df-aa6e-4e9b9029f53e.eot?#iefix") format("eot"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/b56b944e-bbe0-4450-a241-de2125d3e682.woff") format("woff"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/7da02f05-ae8b-43a1-aeb9-83b3c0527c06.ttf") format("truetype"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/66cac56e-d017-4544-9d0c-f7d978f0c5c2.svg#66cac56e-d017-4544-9d0c-f7d978f0c5c2") format("svg");
font-display: block;
}
@font-face {
    font-family: "Helvetica-LT-W10-Roman";
    src: url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/686a6a06-e711-4bd2-b393-8504a497bb3c.eot?#iefix");
    src: url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/686a6a06-e711-4bd2-b393-8504a497bb3c.eot?#iefix") format("eot"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/6f8d1983-4d34-4fa4-9110-988f6c495757.woff") format("woff"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/7903ee3f-e9ab-4bdc-b7d2-d232de2da580.ttf") format("truetype"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/9c58e9ea-fdea-4b9c-b0f9-0a2157389ed0.svg#9c58e9ea-fdea-4b9c-b0f9-0a2157389ed0") format("svg");
font-display: block;
}

@font-face {
    font-family:"Lulo-Clean-W01-One-Bold";
    src:url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/aee74cb3-c913-4b54-9722-6001c92325f2.woff2") format("woff2"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/80de9d5d-ab5f-40ce-911b-104e51e93d7c.woff") format("woff");
font-display: block;
}
@font-face{
    font-family:"Lulo-Clean-W05-One-Bold";
    src: url("//static.parastorage.com/services/santa-resources/resources/viewer/user-site-fonts/fonts/Lulo_Clean/v1/LuloCleanW05-OneBold.woff2") format("woff2"),
    url("//static.parastorage.com/services/santa-resources/resources/viewer/user-site-fonts/fonts/Lulo_Clean/v1/LuloCleanW05-OneBold.woff") format("woff");
font-display: block;
}
@font-face {
    font-family: "Helvetica-W01-Light";
    src: url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/717f8140-20c9-4892-9815-38b48f14ce2b.eot?#iefix");
    src: url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/717f8140-20c9-4892-9815-38b48f14ce2b.eot?#iefix") format("eot"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/03805817-4611-4dbc-8c65-0f73031c3973.woff") format("woff"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/d5f9f72d-afb7-4c57-8348-b4bdac42edbb.ttf") format("truetype"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/05ad458f-263b-413f-b054-6001a987ff3e.svg#05ad458f-263b-413f-b054-6001a987ff3e") format("svg");
font-display: block;
}
@font-face {
    font-family: "Helvetica-W02-Light";
    src: url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/ff80873b-6ac3-44f7-b029-1b4111beac76.eot?#iefix");
    src: url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/ff80873b-6ac3-44f7-b029-1b4111beac76.eot?#iefix") format("eot"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/80c34ad2-27c2-4d99-90fa-985fd64ab81a.woff") format("woff"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/b8cb02c2-5b58-48d8-9501-8d02869154c2.ttf") format("truetype"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/92c941ea-2b06-4b72-9165-17476d424d6c.svg#92c941ea-2b06-4b72-9165-17476d424d6c") format("svg");
font-display: block;
}
@font-face {
    font-family:"Lulo-Clean-W01-One-Bold";
    src:url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/aee74cb3-c913-4b54-9722-6001c92325f2.woff2") format("woff2"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/80de9d5d-ab5f-40ce-911b-104e51e93d7c.woff") format("woff");
font-display: block;
}
@font-face{
    font-family:"Lulo-Clean-W05-One-Bold";
    src: url("//static.parastorage.com/services/santa-resources/resources/viewer/user-site-fonts/fonts/Lulo_Clean/v1/LuloCleanW05-OneBold.woff2") format("woff2"),
    url("//static.parastorage.com/services/santa-resources/resources/viewer/user-site-fonts/fonts/Lulo_Clean/v1/LuloCleanW05-OneBold.woff") format("woff");
font-display: block;
}

@font-face {
    font-family: "Helvetica-W01-Light";
    src: url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/717f8140-20c9-4892-9815-38b48f14ce2b.eot?#iefix");
    src: url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/717f8140-20c9-4892-9815-38b48f14ce2b.eot?#iefix") format("eot"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/03805817-4611-4dbc-8c65-0f73031c3973.woff") format("woff"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/d5f9f72d-afb7-4c57-8348-b4bdac42edbb.ttf") format("truetype"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/05ad458f-263b-413f-b054-6001a987ff3e.svg#05ad458f-263b-413f-b054-6001a987ff3e") format("svg");
font-display: block;
}
@font-face {
    font-family: "Helvetica-W02-Light";
    src: url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/ff80873b-6ac3-44f7-b029-1b4111beac76.eot?#iefix");
    src: url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/ff80873b-6ac3-44f7-b029-1b4111beac76.eot?#iefix") format("eot"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/80c34ad2-27c2-4d99-90fa-985fd64ab81a.woff") format("woff"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/b8cb02c2-5b58-48d8-9501-8d02869154c2.ttf") format("truetype"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/92c941ea-2b06-4b72-9165-17476d424d6c.svg#92c941ea-2b06-4b72-9165-17476d424d6c") format("svg");
font-display: block;
}
@font-face {
    font-family: "Helvetica-W01-Roman";
    src: url("//static.parastorage.com/services/santa-resources/dist/viewer/user-site-fonts/fonts/Helvetica/v3/HelveticaLTW04-Roman.woff2") format("woff2"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/4021a3b9-f782-438b-aeb4-c008109a8b64.woff") format("woff");
    font-display: block;
}
@font-face {
    font-family: "Helvetica-W02-Roman";
    src: url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/e4bd4516-4480-43df-aa6e-4e9b9029f53e.eot?#iefix");
    src: url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/e4bd4516-4480-43df-aa6e-4e9b9029f53e.eot?#iefix") format("eot"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/b56b944e-bbe0-4450-a241-de2125d3e682.woff") format("woff"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/7da02f05-ae8b-43a1-aeb9-83b3c0527c06.ttf") format("truetype"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/66cac56e-d017-4544-9d0c-f7d978f0c5c2.svg#66cac56e-d017-4544-9d0c-f7d978f0c5c2") format("svg");
font-display: block;
}
@font-face {
    font-family: "Helvetica-LT-W10-Roman";
    src: url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/686a6a06-e711-4bd2-b393-8504a497bb3c.eot?#iefix");
    src: url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/686a6a06-e711-4bd2-b393-8504a497bb3c.eot?#iefix") format("eot"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/6f8d1983-4d34-4fa4-9110-988f6c495757.woff") format("woff"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/7903ee3f-e9ab-4bdc-b7d2-d232de2da580.ttf") format("truetype"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/9c58e9ea-fdea-4b9c-b0f9-0a2157389ed0.svg#9c58e9ea-fdea-4b9c-b0f9-0a2157389ed0") format("svg");
font-display: block;
}

.body {
    background: linear-gradient(180deg, rgb(252, 240, 241), rgb(255, 255, 255), rgb(252, 240, 241)) ;
}

a {
    color: inherit;
}

:root {
    --spacer: 80px;
}

.section1 {
    display: none !important;
    display: grid;
    place-content: center;
    padding-block: var(--spacer);
    border-bottom: 1px solid red;
}

.section1-content {
    width: 1000px;
    position: relative;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: 90vw;
}

.section1-content *:not(img) {
    z-index: 9;
}

.section1-content img {
    /* 940 × 787 px */
    width: 72%;
    object-fit: contain;
    /* position: absolute; */
    /* left: 0; */
    /* bottom: 0; */
}

.section1-content h1 {
    color: rgb(255,140,8);
    font-size: clamp(18px, 4vw, 38px);
    font-family: lulo-clean-w01-one-bold,lulo-clean-w05-one-bold,sans-serif;
    line-height: 1.5em;
    text-align: end;
    border: 1px solid red;
    width: 100%;
    /* border: 1px solid red; */
    /* width: calc(100% - 80px); */
}

.section1-content p {
    color: rgb(61,41,43);
    font-size: 17px;
    letter-spacing: normal;
    width: 55%;
    min-width: calc(375px - 10vw);
    line-height: 1.5em;
    text-align: justify;
    font-family: helvetica-w01-light,helvetica-w02-light,sans-serif;
    border: 1px solid red;
    display: block;
}

.section1-button1, .section1-button2 {
    font: normal normal normal 13px/1.4em lulo-clean-w01-one-bold,lulo-clean-w05-one-bold,sans-serif;
    padding: 1em;
    display: grid;
    place-content: center;
    border-radius: 5px;
    border-color: transparent;
    transition: background-color 250ms;
    width: fit-content;
    display: block;
}

.section1-button button {
    background-color: inherit;
    font: inherit;
    padding: 0;
    border: none;
}

.section1-button:hover {
    background-color: rgb(248,233,157);
    cursor: pointer;
}

.section1-button button:hover {
    cursor: pointer;
}

.section1-button1 {
    background-color: rgb(244,216,65);
}

.section1-button2  {
    background-color: rgb(251,242,190);
}

/* -----SECTION 2------ */

.section2 {
    margin-top: var(--spacer);
}

.section2-content {
    text-align: left;
    background-color: rgb( 251,242,190 );
    padding: var(--spacer);
    margin-inline: auto;
    width: fit-content;
}

.section2-content p:first-of-type {
    font-size: 19px;
    line-height: 1.5em;
    margin-bottom: 20px;
}

.section2-content p {
    font-size: 17px;
    max-width: 550px;
    width: 100%;
    font-family: helvetica-w01-light,helvetica-w02-light,sans-serif;
}

@media only screen and (max-width: 700px) {

    :root {
        --spacer: 40px;
    }

    .section2-content p:first-of-type {
        font-size: 16px;
    }

    .section2-content p {
        font-size: 15px;
    }
}

/* ------SECTION 3---------- */

.section3 {
    margin-top: var(--spacer);
    padding-block: var(--spacer);
}

.section3-content {
    max-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 160px;
    margin-inline: auto;
    margin-bottom: var(--spacer);
}

.section3-content h1 {
    letter-spacing: -0.1em;
    line-height: normal;
    font: normal normal normal 58px lulo-clean-w01-one-bold,lulo-clean-w05-one-bold,sans-serif;
    color: rgb(242,162,171);
}

.section3-content-left button {
    font-family: lulo-clean-w01-one-bold,lulo-clean-w05-one-bold,sans-serif;
    font-size: 13px;
    padding-block: 0.5em;
    padding-inline: 1em;
    border-radius: 7px;
    border-color: transparent;
    background-color: #F2A2AB;
    margin-block: 20px;
    transition: all 0.2s ease, visibility 0s;
}

.section3-content-left button:hover {
    border-radius: 5rem;
    background-color: rgb(251,242,190);
    cursor: pointer;
}

.section3-content img {
    /* 1580 × 660 px */
    width: 790px;
    max-width: 100vw;
    object-fit: contain;
}


@media only screen and (max-width: 1200px) {
    .section3-content {
        flex-direction: column;
        gap: 20px;
    }

    .section3-content-left h1 {
        font-size: clamp(28px, 7vw, 58px);
    }

    .section3-content-left br {
        display: none;
    }

    .section3-content-left button {
        font-size: 11px;
        /* padding-block: 0; */
    }

    .section3-content-left {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
}

/* --------SECTION 4------------ */

.section4 {
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    min-height: 100vh;
    max-width: 100vw;
    padding-top: 80px;
}

.section4 h1 {
    color: rgb(255,140,8);
    font-size: 38px;
    font-family: lulo-clean-w01-one-bold,lulo-clean-w05-one-bold,sans-serif;
    line-height: 1em;
    text-align: end;
}

.section4 h2 {
    font: normal normal normal 15px/1.875em helvetica-w01-light,helvetica-w02-light,sans-serif;
    text-decoration: none;
    color: rgb(105, 105, 105);
    font-size: 17px;
    line-height: 1em;
}

.contact-list {
    display: flex;
    gap: 0.3em;
    list-style: none;
    color: rgb(255,140,8);
    font-size: 25px;
    font-family: lulo-clean-w01-one-bold,lulo-clean-w05-one-bold,sans-serif;
    line-height: 1em;
    text-align: end;
}

.section4 form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section4 form p {
    font: normal normal normal 17px/1.4em helvetica-w01-light,helvetica-w02-light,sans-serif;
}

.form-section:not(:first-of-type) {
    margin-top: 20px;
}

.form-section input {
    --webkit-appearance: none;
    --moz-appearance: none;
    background-color: rgb(251,242,190);
    border-color: transparent;
    border-style: solid;
    box-shadow: -4.24px 4.24px 0px 0px rgba(248,233,157,1);
    min-width: 550px;
    max-width: 90vw;
    height: 50px;
    text-overflow: ellipsis;
    font: normal normal 700 14px/1.4em helvetica-w01-light,helvetica-w02-light,sans-serif;
    overflow-y: auto;
    padding-inline-end: 3px;
    padding-inline-start: 5px;
    margin-top: 5px;
    outline: none;
    border-color: rgb(251,242,190);
    border-style: solid;
    border-width: 1px;
}

.form-section textarea {
    background-color: rgb(251,242,190);
    border-color: transparent;
    border-style: solid;
    box-shadow: -4.24px 4.24px 0px 0px rgba(248,233,157,1);
    min-width: 550px;
    max-width: 90vw;
    text-overflow: ellipsis;
    color: rgb(0, 0, 0);
    font: normal normal 700 14px/1.4em helvetica-w01-bold,helvetica-w02-light,sans-serif;
    overflow-y: auto;
    padding-bottom: 3px;
    padding-inline-end: 10px;
    padding-top: 0.75em;
    padding-inline-start: 5px;
    margin-top: 5px;
    height: 116px;
    outline: none;
    border-color: rgb(251,242,190);
    border-style: solid;
    border-width: 1px;
}

.form-section input:focus , .form-section textarea:focus {
    background-color: rgba(201, 232, 242, 0.75);
    border-color: transparent transparent rgb(251,242,190) transparent;
}

.form-section input:hover:not(input:focus):not(input:invalid), .form-section textarea:hover:not(textarea:focus):not(textarea:invalid) {
    background-color: rgba(251, 242, 190, 0.5);
}

.form-section-clicked:invalid {
    background-color: rgb(255,213,187);
    border-color: rgb(255,64,64);
    border-style: solid;
    border-width: 1px;
}

.form-button {
    width: 385px;
    height: 40px;
    background-color: rgb(248,207,212);
    border-radius: 5px;
    border: 2px solid transparent;
    font: normal normal normal 13px lulo-clean-w01-one-bold,lulo-clean-w05-one-bold,sans-serif;
    transition: background-color 0.4s ease 0s;
    margin-top: 20px;
}

.form-button:hover {
    background-color: rgb(252,240,241);
    cursor: pointer
}