:root {
    --orange: rgb(255,140,8);
    --yellow: rgb(244,216,65);
    --pink: rgb( 248,207,212);
    --dark-pink: rgb(242,162,171);
    --blue: rgb(151,210,227);
    --black: rgb(61,41,43);
    --fs-xl: 46px;
    --fs-l: 25px;
    --fs-m: 23px;
    --spacer: 80px;
}

@font-face {
    font-family: "Helvetica-W02-Roman";
    src: url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/e4bd4516-4480-43df-aa6e-4e9b9029f53e.eot?#iefix");
    src: url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/e4bd4516-4480-43df-aa6e-4e9b9029f53e.eot?#iefix") format("eot"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/b56b944e-bbe0-4450-a241-de2125d3e682.woff") format("woff"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/7da02f05-ae8b-43a1-aeb9-83b3c0527c06.ttf") format("truetype"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/66cac56e-d017-4544-9d0c-f7d978f0c5c2.svg#66cac56e-d017-4544-9d0c-f7d978f0c5c2") format("svg");
font-display: block;
}
@font-face {
    font-family: "Helvetica-LT-W10-Roman";
    src: url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/686a6a06-e711-4bd2-b393-8504a497bb3c.eot?#iefix");
    src: url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/686a6a06-e711-4bd2-b393-8504a497bb3c.eot?#iefix") format("eot"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/6f8d1983-4d34-4fa4-9110-988f6c495757.woff") format("woff"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/7903ee3f-e9ab-4bdc-b7d2-d232de2da580.ttf") format("truetype"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/9c58e9ea-fdea-4b9c-b0f9-0a2157389ed0.svg#9c58e9ea-fdea-4b9c-b0f9-0a2157389ed0") format("svg");
font-display: block;
}

@font-face {
    font-family:"Lulo-Clean-W01-One-Bold";
    src:url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/aee74cb3-c913-4b54-9722-6001c92325f2.woff2") format("woff2"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/80de9d5d-ab5f-40ce-911b-104e51e93d7c.woff") format("woff");
font-display: block;
}
@font-face{
    font-family:"Lulo-Clean-W05-One-Bold";
    src: url("//static.parastorage.com/services/santa-resources/resources/viewer/user-site-fonts/fonts/Lulo_Clean/v1/LuloCleanW05-OneBold.woff2") format("woff2"),
    url("//static.parastorage.com/services/santa-resources/resources/viewer/user-site-fonts/fonts/Lulo_Clean/v1/LuloCleanW05-OneBold.woff") format("woff");
font-display: block;
}
@font-face {
    font-family: "Helvetica-W01-Light";
    src: url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/717f8140-20c9-4892-9815-38b48f14ce2b.eot?#iefix");
    src: url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/717f8140-20c9-4892-9815-38b48f14ce2b.eot?#iefix") format("eot"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/03805817-4611-4dbc-8c65-0f73031c3973.woff") format("woff"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/d5f9f72d-afb7-4c57-8348-b4bdac42edbb.ttf") format("truetype"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/05ad458f-263b-413f-b054-6001a987ff3e.svg#05ad458f-263b-413f-b054-6001a987ff3e") format("svg");
font-display: block;
}
@font-face {
    font-family: "Helvetica-W02-Light";
    src: url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/ff80873b-6ac3-44f7-b029-1b4111beac76.eot?#iefix");
    src: url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/ff80873b-6ac3-44f7-b029-1b4111beac76.eot?#iefix") format("eot"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/80c34ad2-27c2-4d99-90fa-985fd64ab81a.woff") format("woff"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/b8cb02c2-5b58-48d8-9501-8d02869154c2.ttf") format("truetype"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/92c941ea-2b06-4b72-9165-17476d424d6c.svg#92c941ea-2b06-4b72-9165-17476d424d6c") format("svg");
font-display: block;
}
@font-face {
    font-family:"Lulo-Clean-W01-One-Bold";
    src:url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/aee74cb3-c913-4b54-9722-6001c92325f2.woff2") format("woff2"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/80de9d5d-ab5f-40ce-911b-104e51e93d7c.woff") format("woff");
font-display: block;
}
@font-face{
    font-family:"Lulo-Clean-W05-One-Bold";
    src: url("//static.parastorage.com/services/santa-resources/resources/viewer/user-site-fonts/fonts/Lulo_Clean/v1/LuloCleanW05-OneBold.woff2") format("woff2"),
    url("//static.parastorage.com/services/santa-resources/resources/viewer/user-site-fonts/fonts/Lulo_Clean/v1/LuloCleanW05-OneBold.woff") format("woff");
font-display: block;
}

@font-face {
    font-family: "Helvetica-W01-Light";
    src: url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/717f8140-20c9-4892-9815-38b48f14ce2b.eot?#iefix");
    src: url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/717f8140-20c9-4892-9815-38b48f14ce2b.eot?#iefix") format("eot"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/03805817-4611-4dbc-8c65-0f73031c3973.woff") format("woff"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/d5f9f72d-afb7-4c57-8348-b4bdac42edbb.ttf") format("truetype"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/05ad458f-263b-413f-b054-6001a987ff3e.svg#05ad458f-263b-413f-b054-6001a987ff3e") format("svg");
font-display: block;
}
@font-face {
    font-family: "Helvetica-W02-Light";
    src: url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/ff80873b-6ac3-44f7-b029-1b4111beac76.eot?#iefix");
    src: url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/ff80873b-6ac3-44f7-b029-1b4111beac76.eot?#iefix") format("eot"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/80c34ad2-27c2-4d99-90fa-985fd64ab81a.woff") format("woff"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/b8cb02c2-5b58-48d8-9501-8d02869154c2.ttf") format("truetype"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/92c941ea-2b06-4b72-9165-17476d424d6c.svg#92c941ea-2b06-4b72-9165-17476d424d6c") format("svg");
font-display: block;
}
@font-face {
    font-family: "Helvetica-W01-Roman";
    src: url("//static.parastorage.com/services/santa-resources/dist/viewer/user-site-fonts/fonts/Helvetica/v3/HelveticaLTW04-Roman.woff2") format("woff2"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/4021a3b9-f782-438b-aeb4-c008109a8b64.woff") format("woff");
    font-display: block;
}
@font-face {
    font-family: "Helvetica-W02-Roman";
    src: url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/e4bd4516-4480-43df-aa6e-4e9b9029f53e.eot?#iefix");
    src: url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/e4bd4516-4480-43df-aa6e-4e9b9029f53e.eot?#iefix") format("eot"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/b56b944e-bbe0-4450-a241-de2125d3e682.woff") format("woff"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/7da02f05-ae8b-43a1-aeb9-83b3c0527c06.ttf") format("truetype"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/66cac56e-d017-4544-9d0c-f7d978f0c5c2.svg#66cac56e-d017-4544-9d0c-f7d978f0c5c2") format("svg");
font-display: block;
}
@font-face {
    font-family: "Helvetica-LT-W10-Roman";
    src: url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/686a6a06-e711-4bd2-b393-8504a497bb3c.eot?#iefix");
    src: url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/686a6a06-e711-4bd2-b393-8504a497bb3c.eot?#iefix") format("eot"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/6f8d1983-4d34-4fa4-9110-988f6c495757.woff") format("woff"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/7903ee3f-e9ab-4bdc-b7d2-d232de2da580.ttf") format("truetype"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/9c58e9ea-fdea-4b9c-b0f9-0a2157389ed0.svg#9c58e9ea-fdea-4b9c-b0f9-0a2157389ed0") format("svg");
font-display: block;
}

.section1 {
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block: var(--spacer)
}

.section1 h1 {
    font-family: lulo-clean-w01-one-bold,lulo-clean-w05-one-bold,sans-serif;
    font-size: var(--fs-xl);
    color: var(--orange);
}

.section1 h2 {
    font-family: lulo-clean-w01-one-bold,lulo-clean-w05-one-bold,sans-serif;
    font-size: var(--fs-l);
    color: var(--yellow);
}

.growth, .maintain {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: var(--pink);
    max-width: 1000px;
    width: calc(100% - 80px);
    margin-top: var(--spacer);
    padding: var(--spacer);
}

.growth svg, .maintain svg {
    width: 60px;
    height: 60px;
    object-fit: contain;
}

.growth h3, .maintain h3 {
    font-size: var(--fs-l);
    font-family: lulo-clean-w01-one-bold,lulo-clean-w05-one-bold,sans-serif;
    white-space: nowrap;
}

.growth h4, .growth li, .maintain li, .maintain h4 {
    font-size: var(--fs-m);
    font-family: helvetica-w01-light,helvetica-w02-light,sans-serif;
    line-height: 1.5em;
}

.growth ul, .maintain ul {
    margin-top: calc(var(--spacer)/2);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.growth *, .maintain * {
    color: var(--black);
}

@media only screen and (max-width: 1110px) {
    :root {
        --fs-xl: 30px;
        --fs-l: 16px;
        --fs-m: 15px;
        --spacer: 40px;
    }

    .growth, .maintain {
        max-width: 600px;
        width: calc(100% - 80px);
    }

}

@media only screen and (max-width: 500px) {
    .growth, .maintain, .section3 img {
        width: 100vw;
        margin-top: 5vw;
    }
}

/* ------SECTION 2 */

.section2 {
    padding-block: var(--spacer);
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section2 h1 {
    font-family: lulo-clean-w01-one-bold,lulo-clean-w05-one-bold,sans-serif;
    font-size: var(--fs-xl);
    color: var(--orange);
    text-align: center;
    padding-inline: 20px;
}
.section2 p {
    font-size: var(--fs-m);
    font-family: helvetica-w01-light,helvetica-w02-light,sans-serif;
    line-height: 1.5em;
    color: var(--black);
    width: 90vw;
    max-width: 1000px;
    margin-top: 20px;
    text-align: center;
}

.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90vw;
    max-width: 1000px;
    margin-block: var(--spacer);
}

.row1, .row2 {
    display: flex;
}

.section2 button {
    background-color: var(--dark-pink);
    border-radius: 50%;
    width: 12em;
    height: 12em;
    padding: 1em;
    font-size: var(--fs-m);
    line-height: 1.5em;
    color: var(--black);
    margin-inline: 20px;
    border: 2px solid transparent;
    font: normal normal normal var(--fs-m) lulo-clean-w01-one-bold,lulo-clean-w05-one-bold,sans-serif;
    transition: background-color 0.4s ease 0s;
}

@media only screen and (max-width: 700px) {
    .section2 button {
        font-size: 10px;
    }

    .row2 {
        flex-wrap: wrap;
        width: 100%;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }
}

.section2 button:hover {
    cursor: pointer;
    background-color: var(--blue);
}

/* ------SECTION 3 */

.section3 {
    padding-top: var(--spacer);
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--pink);
}

 .section3 img {
    max-width: 1000px;
    width: calc(100% - 80px);
}

.section3 h1 {
    font-family: lulo-clean-w01-one-bold,lulo-clean-w05-one-bold,sans-serif;
    font-size: var(--fs-xl);
    color: var(--black);
    margin-block: 40px;
    text-align: center;
    padding-inline: 20px;
}

@media only screen and (max-width: 700px) {
    .section3 img {
        display: none !important;
    }

    .section3 h1 {
        margin-block: 20px;
    }
}

.section3 form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-bottom: 160px;
}

.form input, .form textarea {
    border: 1px solid var(--black);
    background-color: transparent;
    width: 90vw;
    max-width: 1000px;
}

.form-section input {
    --webkit-appearance: none;
    --moz-appearance: none;
    height: 58px;
    text-overflow: ellipsis;
    font: normal normal normal 15px/1.875em helvetica-w01-light,helvetica-w02-light,sans-serif;
    overflow-y: auto;
    padding-inline-end: 3px;
    padding-inline-start: 5px;
    margin-top: 5px;
    outline: none;
    border: 1px solid transparent;
    border-bottom: 1px solid var(--black);
}

.form-section textarea {
    text-overflow: ellipsis;
    color: var(--black);
    font: normal normal normal 15px/1.875em helvetica-w01-light,helvetica-w02-light,sans-serif;
    overflow-y: auto;
    padding-bottom: 3px;
    padding-inline-end: 10px;
    padding-top: 0.75em;
    padding-inline-start: 5px;
    margin-top: 5px;
    height: 191px;
    outline: none;
    border: 1px solid transparent;
    border-bottom: 1px solid var(--black);
}

.form-section input:focus , .form-section textarea:focus {
    background-color: transparent;
    border: 1px solid var(--black);
}

.form-section input:hover, .form-section textarea:hover {
    border: 1px solid var(--black);
}

.form-section-clicked:invalid {
    background-color: rgba(255,64,64, 0.1);
    border-color: rgb(255,64,64);
    border-style: solid;
    border-width: 1px;
}

.double-form-section {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    max-width: 1000px;
}

.double-form-section {
    width: 100%;
}

#phone-number-box, #email-box {
    width: 48.75%;
}

.form-button {
    max-width: 385px;
    background-color: var(--dark-pink);
    border-radius: 5px;
    border: 2px solid transparent;
    font: normal normal normal var(--fs-m) lulo-clean-w01-one-bold,lulo-clean-w05-one-bold,sans-serif;
    transition: background-color 0.4s ease 0s;
    padding: 1em;
    transform: translateY(calc(-20px - 50%));
}

.form-button:hover {
    background-color: var(--blue);
    cursor: pointer
}

@media only screen and (max-width: 500px) {
    .double-form-section {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    
    .double-form-section {
        width: 100%;
    }
    
    #phone-number-box, #email-box {
        width: 100%;
    }
}