      .lst-kix_84cy1fq70nl1-3 > li:before {
        content: "\0025cf   ";
      }
      .lst-kix_84cy1fq70nl1-4 > li:before {
        content: "\0025cb   ";
      }
      .lst-kix_84cy1fq70nl1-7 > li:before {
        content: "\0025cb   ";
      }
      ul.lst-kix_84cy1fq70nl1-0 {
        list-style-type: none;
      }
      .lst-kix_84cy1fq70nl1-5 > li:before {
        content: "\0025a0   ";
      }
      .lst-kix_84cy1fq70nl1-6 > li:before {
        content: "\0025cf   ";
      }
      ul.lst-kix_84cy1fq70nl1-5 {
        list-style-type: none;
      }
      ul.lst-kix_84cy1fq70nl1-6 {
        list-style-type: none;
      }
      ul.lst-kix_84cy1fq70nl1-7 {
        list-style-type: none;
      }
      ul.lst-kix_84cy1fq70nl1-8 {
        list-style-type: none;
      }
      ul.lst-kix_84cy1fq70nl1-1 {
        list-style-type: none;
      }
      ul.lst-kix_84cy1fq70nl1-2 {
        list-style-type: none;
      }
      ul.lst-kix_84cy1fq70nl1-3 {
        list-style-type: none;
      }
      ul.lst-kix_84cy1fq70nl1-4 {
        list-style-type: none;
      }
      .lst-kix_84cy1fq70nl1-0 > li:before {
        content: "  ";
      }
      .lst-kix_84cy1fq70nl1-8 > li:before {
        content: "\0025a0   ";
      }
      .lst-kix_84cy1fq70nl1-1 > li:before {
        content: "  ";
      }
      .lst-kix_84cy1fq70nl1-2 > li:before {
        content: "\0025a0   ";
      }
      ol {
        margin: 0;
        padding: 0;
      }
      table td,
      table th {
        padding: 0;
      }
      .c3 {
        border-right-style: solid;
        padding-top: 0pt;
        border-top-width: 0pt;
        border-right-width: 0pt;
        padding-left: 0pt;
        padding-bottom: 0pt;
        line-height: 1.5;
        border-left-width: 0pt;
        border-top-style: solid;
        background-color: #fffefa;
        border-left-style: solid;
        border-bottom-width: 0pt;
        border-bottom-style: solid;
        orphans: 2;
        widows: 2;
        text-align: left;
        padding-right: 0pt;
      }
      .c0 {
        border-right-style: solid;
        padding-top: 0pt;
        border-top-width: 0pt;
        border-right-width: 0pt;
        padding-bottom: 0pt;
        line-height: 1.15;
        border-top-style: solid;
        border-bottom-width: 0pt;
        border-bottom-style: solid;
        orphans: 2;
        widows: 2;
        text-align: left;
        padding-right: 0pt;
      }
      .c2 {
        background-color: #fffefa;
        padding-top: 19pt;
        padding-bottom: 0pt;
        line-height: 1.5;
        orphans: 2;
        widows: 2;
        text-align: left;
        height: 11pt;
      }
      .c12 {
        color: #3d292b;
        font-weight: 700;
        text-decoration: none;
        vertical-align: baseline;
        font-size: 25.5pt;
        font-family: "Arial";
        font-style: normal;
      }
      .c8 {
        color: #3d292b;
        font-weight: 700;
        text-decoration: none;
        vertical-align: baseline;
        font-size: 14pt;
        font-family: "Arial";
        font-style: normal;
      }
      .c1 {
        color: #3d292b;
        font-weight: 400;
        text-decoration: none;
        vertical-align: baseline;
        font-size: 12pt;
        font-family: "Arial";
        font-style: normal;
      }
      .c7 {
        background-color: #fffefa;
        padding-top: 30pt;
        padding-bottom: 11pt;
        line-height: 1.5;
        orphans: 2;
        widows: 2;
        text-align: center;
      }
      .c6 {
        color: #000000;
        font-weight: 400;
        text-decoration: none;
        vertical-align: baseline;
        font-size: 11pt;
        font-family: "Arial";
        font-style: normal;
      }
      .c13 {
        color: #3d292b;
        font-weight: 400;
        text-decoration: none;
        vertical-align: baseline;
        font-size: 10.5pt;
        font-family: "Arial";
        font-style: normal;
      }
      .c11 {
        padding-top: 0pt;
        padding-bottom: 0pt;
        line-height: 1.15;
        orphans: 2;
        widows: 2;
        text-align: left;
      }
      .c4 {
        padding-left: 0pt;
        border-left-width: 0pt;
        background-color: #fffefa;
        border-left-style: solid;
      }
      .c10 {
        background-color: #ffffff;
        max-width: 600px;
        width: 90vw;
        padding-block: min(5vw, 20px);
      }
      .c9 {
        height: 11pt;
      }
      .c5 {
        height: 14pt;
      }
      .title {
        padding-top: 0pt;
        color: #000000;
        font-size: 26pt;
        padding-bottom: 3pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left;
      }
      .subtitle {
        padding-top: 0pt;
        color: #666666;
        font-size: 15pt;
        padding-bottom: 16pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left;
      }
      li {
        color: #000000;
        font-size: 11pt;
        font-family: "Arial";
      }
      p {
        margin: 0;
        color: #000000;
        font-size: 11pt;
        font-family: "Arial";
      }
      h1 {
        padding-top: 20pt;
        color: #000000;
        font-size: 20pt;
        padding-bottom: 6pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left;
      }
      h2 {
        padding-top: 18pt;
        color: #000000;
        font-size: 16pt;
        padding-bottom: 6pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left;
      }
      h3 {
        padding-top: 16pt;
        color: #434343;
        font-size: 14pt;
        padding-bottom: 4pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left;
      }
      h4 {
        padding-top: 14pt;
        color: #666666;
        font-size: 12pt;
        padding-bottom: 4pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left;
      }
      h5 {
        padding-top: 12pt;
        color: #666666;
        font-size: 11pt;
        padding-bottom: 4pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left;
      }
      h6 {
        padding-top: 12pt;
        color: #666666;
        font-size: 11pt;
        padding-bottom: 4pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        font-style: italic;
        orphans: 2;
        widows: 2;
        text-align: left;
      }